<h1>About me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpeg", width: 480, alt: "Profile image" %>
  </div>
  <div class="col-md-8">
    <p>Begginer developer</p>
    <h4>Graduated engineer</h4>
    <h4>Habilities</h4>
    <p> Ruby in rails </p>
    <p> Java script </p>
    <p> CSS </p>
  </div>
</div>
